<!DOCTYPE html>
<html>
{% load static %} 
<head>

    <title>Links</title>

    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>

<body>

    <div id="link1">

        <a href="https://qu.edu.sa/" target="_blank">

            Go to QU website (open a new tab)

        </a>

    </div>

    <div id="link2">

        <a href="https://qu.edu.sa/">

            Go to QU website (open in the same page/tab)

        </a>

    </div>

    <div id="link3">

        <a href="https://qu.edu.sa/">

            Go to QU website (open in the same page/tab)

        </a>

    </div>

</body>

</html>