#link1 {
    padding: 20px;
    text-align: center;
    background-color: lightgreen;
    display: block;
}

#link2 {
    padding: 20px;
    text-align: center;
    background-color: #555555;
    display: block;
}

#link3 {
    padding: 20px;
    text-align: center;
    background-color: black;
    display: block;
}

#link1 a {
    color: red;
}

#link2 a {
    color: yellow;
}

#link3 a {
    color: white;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
}

a:active {
    color: orange;
}

h1 {
    color: green;
    background-color: beige;
    padding: 10px;
}

.list-title {
    color: white;
    background-color: #5fa3a5;
    padding: 10px;
}